<form action="/create" method="post">
  <table>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input id="name" name="name" type="text" placeholder="type your property name" required></td>
    </tr>
    <tr>
      <td><label for="description">Description</label></td>
      <td><input id="description" name="description" type="text"  placeholder="type description" required></td>
    </tr>
    <tr>
      <td><label for="price_per_night">Price per night(£)</label></td>
      <td><input id="price_per_night" name="price_per_night" type="text" placeholder="price per night in £" required></td>
    </tr>
    <tr>
      <td><label for="available_start">Available start</label></td>
      <td><input id="available_start" name="available_start" type="date" placeholder="available start date" required></td>
    </tr>
    <tr>
      <td><label for="available_end">Available end</label></td>
      <td><input id="available_end" name="available_end" type="date" placeholder="available end date" required></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" content="Submit">
      </td>
    </tr>
  </table>
</form>