<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
</head>

<body>

  <h1>Welcome to PastaBNB </h1> 
  <h2>Always available for your travels:</h2>

  <a><p>About us</p><a>
  <p>Contact us</p>
  <p>Leave a review</p>
  <p>Look for places</p>

</body>

</html> 
