<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PastaB&B</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
<nav>
  <span>PastaB&B</span>
  <span class="user">
      <% if @user.nil? %>
      <a href="/login">Log In</a>
      <% else %>
      <%= @user.username %>
      <% end %>
    </span>
</nav>
<div class="container">
  <%= yield :content %>
</div>
</body>
</html>